<app-tabbar></app-tabbar>

<main>
  <div class="px-4 py-8 mx-auto md:px-12 lg:px-20 max-w-screen-2xl">
    <app-game-list
      *ngIf="filteredGames$ | async as filteredGames"
      [games]="filteredGames"
    ></app-game-list>

    <div *ngIf="isLoading$ | async">Loading...</div>

    <div
      *ngIf="
        (isLoading$ | async) === false && !(filteredGames$ | async)?.length
      "
      class="mt-24 text-center md:mt-52"
    >
      <app-empty-state
        subtitle="No games were found for the selected category"
      ></app-empty-state>
    </div>
  </div>
</main>
