<li
  class="flex justify-center w-auto overflow-hidden transition cursor-pointer hover:scale-125 hover:z-10"
>
  <div class="relative overflow-hidden rounded-md">
    <img
      src="{{ game.image }}"
      alt="{{ game.name }}'s image"
      class="rounded-lg md:w-full h-44"
    />
    <div
      *ngIf="!!game.jackpotAmount"
      class="absolute top-0 left-0 flex items-center justify-center w-full h-10 font-bold text-white bg-gray-900 bg-opacity-30"
    >
      {{ game.jackpotAmount | currency }}
    </div>
  </div>
</li>
