<ul
  class="grid w-full xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-x-4 gap-y-8"
>
  <ng-container *ngIf="!showSkeleton">
    <app-game-list-item
      *ngFor="let game of games; trackBy: identifyGame"
      [game]="game"
      [selectedCategories]="categories"
    ></app-game-list-item>
  </ng-container>

  <ng-container *ngIf="showSkeleton">
    <app-skeleton
      class="w-full h-44"
      *ngFor="let _ of ','.repeat(skeletonCount - 1).split(',')"
    >
    </app-skeleton>
  </ng-container>
</ul>
